html,
body {
  min-height: 100%;
}
* {
  font-family: 'Work Sans', sans-serif !important;
  text-transform: unset !important;
}
#__next {
  height: 100%;
}

code {
  font-family: 'Work Sans', sans-serif;
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

.tab-title {
  font-weight: 600 !important;
  font-size: 16px !important;
}

.upload-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 8px 16px;
  font-weight: 500;
  color: black;
  border-radius: 8px;
}

.upload-cover:hover {
  background-color: white;
}
